html {
    background-image: url("../img/background.png") ;
    background-size: 100%;
    font-family: 'Agency FB' ;
}

main {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

h2 {
    border-top: 3px solid white;
    font-style: italic;
    padding-top: 40px ;
    padding-bottom: 40px ;
    font-size: 55px;
    margin-top: min(100px, 10%);
    margin-bottom: 0px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    color:white ;
    transform: rotate(-9deg);
}

h2 > span {

    -webkit-text-stroke: 0.1px white ;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 11.5px ;
    font-style: italic;
    border-top:3px solid white ;
    padding:5px;
    width: 550px ;
    margin-bottom: min(150px, 15%);
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    color:white ;
    transform: rotate(-9deg);
}

.boutons {
    display: flex;
}

li{
    list-style: none ;
}

a {
    text-decoration:none ;
    color:white ;
}

button {
    background-color: transparent;
    border:1.5px solid white;
    border-radius:30px;
    padding: 7px;
    font-size: 1em;
    width: 180px;
    margin-right: 50px ;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Agency FB' ;
    color:white ;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255,255,255, 0.2);
}

footer {
    color:white ;
}

footer ul {
    display : flex;
    bottom: 30px;
    left: 30px;
}
