nav li:nth-child(2) a {
    text-shadow: 0.1em -0.1em #358fa3;
    border-bottom:3px solid purple;
    font-size: 40px;
}

button {
    font-family: 'Agency FB' ;
    color:white ;
    background-color: transparent;
    border:1.5px solid white;
    border-radius:30px;
    padding: 7px;
    font-size: 1em;
    width: 180px;
    margin-left: 70px ;
    letter-spacing: 2px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255,255,255, 0.2);
}

#choix {
    color : white;
    font-size: large;
}

#lignes {
    background-color:rgb(38, 38, 38);
    color : white ;
    border :1.5px solid white;
    border-radius : 15px;
    padding: 5px 10px;
}

#board
{
    display: grid;
    grid-gap: 0;
    width: calc(100vw - (100vw - 99%));
    height: 100vw;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
}

#infos
{
    color : white;
    margin: auto;
    text-align: center;
}

#start
{
    text-align: center;
    margin: auto;
}

.cellule
{
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	transition: all 0.2s ease;
	transition-property: filter;
}

.cellule:hover
{
    filter: brightness(50%);
}

#morpion
{
    margin: auto;
    text-align: center;
}