#board
{
    display: grid;
    grid-gap: 0;
    width: calc(100vw - (100vw - 99%));
    height: 100vw;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
}

#infos
{
    margin: auto;
    text-align: center;
}

#start
{
    margin: auto;
    text-align: center;
}

.cellule
{
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	transition: all 0.2s ease;
	transition-property: filter;
}

.cellule:hover
{
    filter: brightness(50%);
}