nav li:nth-child(3) a {
    text-shadow: 0.1em -0.1em #358fa3;
    border-bottom:3px solid purple;
    font-size: 40px;
}

main {
    font-size:15px ;
    color:gainsboro;
    text-align: justify;
    padding-left:20vw;
}

h2 {
    font-size:60px ;
    font-variant: small-caps;
    color:gainsboro;
    padding-top:10vh;
    padding-left:5vw;
    letter-spacing: 5px ;
}


