li{
    list-style: none ;
}

footer ul {
    display: flex;
}

footer li:nth-child(1) {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

footer li:nth-child(2){
    position: absolute;
    bottom: 30px;
    right: 30px;
}