main {
    font-size:15px ;
    color:gainsboro;
    padding: 0px 200px ;
    text-align: justify;
}

h2 {
    font-size:60px ;
    font-variant: small-caps;
    color:gainsboro;
    padding-top:100px;
    padding-left:80px ;
    letter-spacing: 5px ;
}

main p:nth-child(5){
    padding-top:30px;
}

footer li:nth-child(1) a {
    text-shadow: 0.1em -0.1em #358fa3;
    border-bottom:2px solid purple;
}