@font-face
{
    font-family: agency fb;
    font-style: normal;
    font-weight: 400;
    src: local('Agency FB'), local('AgencyFB-Regular'), url("static/font/agency-fb.woff") format('woff'), url("static/font/agency-fb.ttf") format('truetype')
}

html{
    background-color:rgb(24, 41, 41);
    font-family: 'Agency FB';
}

/* DEBUT DU HEADER*/ 

li{
    list-style: none ;
}


a {
    text-decoration: none;
    color: white;
}

nav {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    padding: 0 ;
    margin: 0 ;
}

nav li:hover {
    /*text-shadow: -10px 0 cornflowerblue, 0 0px cornflowerblue, 0px 0 cornflowerblue, 0 -10px cornflowerblue ; */
    text-shadow: 0.1em -0.1em #358fa3;
    border-bottom:3px solid purple;
}

nav li {
    margin-left:2px;
    float:left;
    top: 30px;
    transform: rotate(-9deg);
}

nav li a {
    width:100px;
    padding:5px;
}

nav li:nth-child(1){
    position: absolute;
    left: 30px;
}


nav li:nth-child(2){
    position:fixed;
    left: 47%;
}


nav li:nth-child(3){
    position: absolute;
    right: 30px;
}

/* FIN DU HEADER*/

/*DEBUT DU FOOTER*/

footer ul {
    display: flex;
    color:white;
}

footer li:nth-child(1) {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

footer li:nth-child(1) a {
    text-transform: uppercase;
    font-weight: bold;
}

footer li:nth-child(2){
    width: 600px;
    position: fixed;
    bottom: 30px;
    left: 47%;
    
}

footer li:nth-child(2) p {
    text-transform: uppercase;
    font-weight: bold;
}


footer li:nth-child(2) a {
    -webkit-text-stroke: 0.5px white ;
    -webkit-text-fill-color: transparent;
}

footer li:nth-child(3) {
    position: absolute;
    bottom: 30px ;
    right: 30px;
}

footer a:hover {
    text-shadow: 0.1em -0.1em #358fa3;
    border-bottom:2px solid purple;
}

/*FIN DU FOOTER*/
