@font-face
{
    font-family: agency fb;
    font-style: normal;
    font-weight: 400;
    src: local('Agency FB'), local('AgencyFB-Regular'), url("static/font/agency-fb.woff") format('woff'), url("static/font/agency-fb.ttf") format('truetype')
}

html{
    background-color:rgb(38, 38, 38);
    font-family: 'Agency FB';
}

body
{
    min-width: 500px;
    margin : 8px 0px 0px 0px;
    overflow-x :hidden;
}

li{
    list-style: none ;
}


a {
    text-decoration: none;
    color: white;    
}



/*DEBUT DU HEADER*/ 

header
{
    display: grid;
    grid-template-rows: "1fr";
}

header h1, header h1 img
{
    padding-top : 5px;
    width: 250px;
    margin: auto;
}

header nav ul
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 60px;
}

header nav {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
    padding : 0px;
}


header nav li {
    transform: rotate(-9deg);
}

header nav li a {
    width:100px;
    padding:5px;
}
header nav li a:hover {
    text-shadow: 0.1em -0.1em #358fa3;
    border-bottom:3px solid purple;
}

/*FIN DU HEADER*/


/*DEBUT DU MAIN*/

.titrepage {
    font-size:60px ;
    font-variant: small-caps;
    color:gainsboro;
    padding-left:5vw;
    letter-spacing: 5px ;
    text-align: left;
}

.paragraphe {
    font-size:15px ;
    color:gainsboro;
    text-align: justify;
    padding-left:15vw;
    padding-right:15vw;

}

.signature{
    padding-top:30px;
}
main{
    height : 80vh;
}

/*FIN DU MAIN*/


/*DEBUT DU FOOTER*/

footer {
    background-color:rgb(22, 22, 22);
    margin-top: -50px;
    padding-bottom: 30px;
}

footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color:white;
    text-align:center;
    margin : 0;
    padding: 0;
}
footer li:nth-child(3){
    padding-top: 50px;
}

footer li a {
    text-transform: uppercase;
}

footer li a:hover {
    text-shadow: 0.1em -0.1em #358fa3;
    border-bottom:3px solid purple;
}

/*FIN DU FOOTER*/
