@font-face
{
    font-family: agency fb;
    font-style: normal;
    font-weight: 400;
    src: local('Agency FB'), local('AgencyFB-Regular'), url("static/font/agency-fb.woff") format('woff'), url("static/font/agency-fb.ttf") format('truetype')
}

html{
    background-color:rgb(38, 38, 38);
    font-family: 'Agency FB';
}

body
{
    min-width: 500px;
}

/* DEBUT DU HEADER*/ 

header
{
    display: grid;
    grid-template-rows: "1fr";
}

header h1, header h1 img
{
    padding-top : 5px;
    width: 250px;
    margin: auto;
}

li{
    list-style: none ;
}


a {
    text-decoration: none;
    color: white;
}

header nav ul
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 80px;
}

nav {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
    padding : 0px;
}

nav li a:hover {
    text-shadow: 0.1em -0.1em #358fa3;
    border-bottom:3px solid purple;
}

nav li {
    transform: rotate(-9deg);
}

nav li a {
    width:100px;
    padding:5px;
}

/* FIN DU HEADER*/

/*DEBUT DU FOOTER*/

footer ul {
    display: flex;
    color:white;
}

footer li:nth-child(1) {
    position: fixed;
    bottom: 30px;
    left: 30px;
}

footer li:nth-child(1) a {
    text-transform: uppercase;
    font-weight: bold;
}

footer li:nth-child(2){
    width: 600px;
    position: fixed;
    bottom: 30px;
    left: 47%;
    
}

footer li:nth-child(2) p {
    text-transform: uppercase;
    font-weight: bold;
}


footer li:nth-child(2) a {
    -webkit-text-stroke: 0.5px white ;
    -webkit-text-fill-color: transparent;
}

footer li:nth-child(3) {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

footer a:hover {
    text-shadow: 0.1em -0.1em #358fa3;
    border-bottom:2px solid purple;
}

/*FIN DU FOOTER*/
